<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/carousel.css">
    <link rel="stylesheet" href="../style/article.css">
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="../style/install.css">
    <link rel="stylesheet" href="../style/blog.css">
    <link rel="icon"
          href="../image/logo.jpg"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <script src="../scripts/home.js"></script>

    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.cuistolinex.fr/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->

    <title>Eateazy</title>
</head>
<body>

<section id="homePage">
    <img src="../image/logo_HomePage.png" alt="" id="logo">
    <div id="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>

<section id="installPage">
    <h1 class="titrePage">Installation</h1>
    <p class="paragrapheWhite" >Malheureusement, notre machine à magie est en cours de création, mais restez à l'écoute.</p>
    <p class="paragrapheWhite" >Mais heureusement, nos amis les poires et le pain de mie nous aident bien ! </p>

    <div id="listCaracter">
        <div class="caracter">
            <img src="../image/logo_Constructeur_-_Copie-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
        <div class="caracter">
            <img src="../image/Capture_d_écran_2023-12-29_220646-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
        <div class="caracter">
            <img src="../image/Capture_d_écran_2023-12-29_220646-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
        <div class="caracter">
            <img src="../image/logo_Constructeur_-_Copie-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
        <div class="caracter">
            <img src="../image/logo_Constructeur_-_Copie-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
        <div class="caracter">
            <img src="../image/Capture_d_écran_2023-12-29_220646-removebg-preview.png" alt="" class="worker" >
            <div class="shadow"></div>
        </div>
    </div>

</section>

<section id="blog">
    <h1 class="titrePage">Nos média</h1>

    <article id="article">
        <h2 class="articleBlog"> Instagram </h2>
        
        <p>En ce mois de Décembre, explorez les créations délicieuses mettant en vedette les fruits et légumes frais du mois. </p>
        <p>découvrez les recettes de saison avec EatEaze!🥕</p>
        <p>Kiwi, orange, carotte… Les fruits et les légumes de Décembre sont dévoilés. Plongez dans la féerie culinaire de Décembre avec EatEaze. Laissez-vous enchanter par des recettes délicieuses, sublimant vos légumes de saison préférés. ✨🍽️.</p>

        <div class="center">
            <img class="imageInstagram" src="../image/instagram_legume.jpg" alt="Ici une image des légumes de saison : Chou, Carotte, Poire, Pomme de terre, Kiwi, Orange, Céleri, Oignon">
        </div>

        <div class="center" >
            <div id="instagramContainer">
                <a id="instagram" rel="stylesheet" href="https://www.instagram.com/eateaze.fr">Voire plus </a>
            </div>
        </div>

    </article>
</section>

</body>
</html>